.markdown-content .home h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.markdown-content .home p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}